@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --clr-primary-pink: hsl(322, 100%, 66%);
    --clr-pale-cyan: hsl(193, 100%, 96%);
    --clr-dark-cyan: hsl(192, 100%, 9%);
    --clr-gray-blue: hsl(208, 11%, 55%);
    --clr-white: hsl(0, 0%, 100%);

    --fw-bold-600: 600;
    --fw-bold-700: 700; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--clr-dark-cyan);
}

ul {
    list-style: none;
}

li, a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

.fc-gray-blue {
    color: var(--clr-gray-blue);
}

.fc-dark-cyan {
    color: var(--clr-dark-cyan)
}

.fc-pale-cyan {
    color: var(--clr-pale-cyan);
}

.space-cth {
    margin-top: 2rem;
}

button {
    background: var(--clr-primary-pink);
    color: var(--clr-white);
    border-radius: 2rem;
    border: none;
    width: 16rem;
    padding: 1rem;
    font-weight: var(--fw-bold-700);
    margin-top: 1.5rem;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* header style */

header {
    background-image: url("images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-color: var(--clr-pale-cyan);
}

.nav-heading {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-heading {
    width: 125px;
}

.btn-trying {
    background: var(--clr-white);
    width: 10rem;
    font-size: 0.9rem;
    font-weight: var(--fw-bold-700);
    text-align: center;
    padding: 0.7rem;
    border-radius: 2rem;
    box-shadow:  0px 0px 15px 2px #e8e6e6;
}

.row-heading {
    display: flex;
    align-items: center;
    column-gap: 4rem;
    padding: 3rem;
}

.col-content {
    width: min(100%, 45rem);
}

/* main style */

.wrap-main {
    max-width: 85%;
    margin-inline: auto;
    margin-top: 8rem;
    position: relative;
}

.card {
    box-shadow:  0px 0px 15px 2px #f4f1f1;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    padding: 4rem 2rem 4rem 6rem;
}

.content-card {
    width: min(80%, 30rem);
}

.img-card {
    flex-basis: 40%;
}

.reverse {
    flex-direction: row-reverse;
}

/* get started style */
.get-start {
    position: absolute;
    left: 50%;
    bottom: -250px;
    transform: translateX(-50%);
    width: min(100%, 600px);
    text-align: center;
    padding: 2rem 1rem;
    background: var(--clr-white);
    border-radius: 0.8rem;
    box-shadow: 0px 5px 15px 0px hsla(0, 0%, 0%, 0.15);
}

/* footer style */

footer {
    background: var(--clr-dark-cyan);
    color: var(--clr-pale-cyan);
}

.wrap-footer {
    max-width: 85%;
    margin-inline: auto;
    margin-top: 12rem;
    padding-top: 8rem;
}

.flex-container {
    display: flex;
    column-gap: 10%;
    margin-top: 2rem;
}

.logo-footer {
    width: 10rem;
}

.info-company {
    color: var(--clr-white);
    flex-basis: 33%;
    font-size: 0.75rem;
}

.flex-group {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
    column-gap: 1rem;
}

.flex-nav {
    display: flex;
    column-gap: 6rem;
    font-size: 0.875rem;
}

li {
    margin-bottom: 1rem;
}

li:hover {
    cursor:pointer;
    text-decoration: underline;
}

.fa-brands:hover {
    cursor: pointer;
    color: var(--clr-primary-pink);
}

.copy-right {
    text-align: right;
    padding-inline: 3rem;
    font-size: 0.75rem;
}

@media screen and (max-width: 800px) {

    .nav-heading {
        padding-inline: 1rem;
    }
    .row-heading {
        flex-direction: column;
        padding-inline: 2rem;
    }
    .col-content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .wrap-main {
        max-width: 90%;
        margin-top: 3rem;
    }

    .card {
        flex-direction: column-reverse;
        padding: 2rem 0;
    }

    .img-card > img {
        width: 50%;
        margin-inline: auto;
    }

    .content-card {
        text-align: center;
    }

    .content-card > h2 {
        margin-block: 3rem 1rem;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-nav {
        flex-direction: column;
    }

    .socials {
        margin-inline: auto;
    }
    .copy-right {
        text-align: center;
    }

}

@media screen and (max-width: 375px) {
    header {
        background-image: url("images/bg-hero-mobile.svg");
    }
}
